<!DOCTYPE html>
<html>
<head>
  <title>Lufthouse | Coming Soon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, debug: true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, debug: true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
